* {
    padding: 0;
    margin: 0;
    margin-top: 0;
}

main {
    display: block;

}

section.module.parallax { 
    display: flex;
    column-gap: 15px;
    flex-direction: column; 
    justify-content: center; /*Precisa desses dois itens para centralizar na página*/
    align-items: center; /*Precisa desses dois itens para centralizar na página*/
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-backdrop: cover;
    -moz-background-size:cover ;
    -o-background-size:cover;
    
    

}
.tituloOne {
    color: #FFFFFF;
    font: 27px Lato, sans-serif;
    background: #111111;
    padding: 20px;
    
    
}
.oneParagraf {
    line-height: 140%;
}
.titulo {
    text-align: center;
    color: #666666;
    font: 24px Lato, sans-serif;
    margin: 19.92px 0px;

}

section.module.conteiner {
    text-align: center;
    font: 16px Lato,sans-serif;
    margin: 16px 0px;
    color: #666666;
    padding: 50px 80px;
    
    
    
}

section.module.conteinerOne {
    text-align: center;
    font: 16px Lato,sans-serif;
    color: #FFFFFF;
    padding: 50px 80px;
    background: #282E34;
    
}

.titulotwo {
    text-align: center;
    color: #FFFFFF;
    font: 24px Lato, sans-serif;
    margin: 19.92px 0px;
    
}
.tituloTwo {
    color: #FFFFFF;
    font: 24px Lato, sans-serif;
    margin: 19.92px 0px;

}
section.module.conteiner.two { /*3*/
    text-align: center;
    margin: 16px 0px;
    background:#282E34;
    padding: 50px 80px;
    margin: 0;
}


section.module.parallax-1 {
    background-image: url(https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image1.jpg);
    width: 100%;
    filter: opacity(0.6) drop-shadow(0 0 0 grey); 
    
}

section.module.parallax-2 { 
    background-image: url(https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image2.jpg);
    width: 100%;
    height: 500px;
    filter: opacity(0.6) drop-shadow(0 0 0 grey); 
}


section.module.parallax-3 { 
    background-image: url(https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image3.jpg);
    width: 100%;
    filter: opacity(0.6) drop-shadow(0 0 0 grey); 
    height: 500px;
}

section.module.parallax-4 { 
    background-image: url(https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image1.jpg);
    width: 100%;
    filter: opacity(0.6) drop-shadow(0 0 0 grey); 
}
